<!DOCTYPE html>

<html>
<head>
<title>Card Games</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link type="text/css" href="/static/css/auto.css" rel="stylesheet" />
{% block externalcss %}{% endblock %}
<script type="text/javascript" src="/static/js/ext/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/ext/bootstrap.min.js"></script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Card Games</a>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/game/create">Create Game</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="wrap">
    <div class="container-fluid center-block top-margin">
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="push"></div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <p>Copyright (c) {{ currentYear }}</p>
    </div>
  </div>

  {% block externaljs %}{% endblock %}
</body>
</html>
